body {
    background-size: cover;
}

#backbutton{
   position:absolute;
    bottom:0px;
    border-radius: 30px;
    padding-left:20px;
    padding-right:20px;
    right:590px;
}

#guitarheader{
    border-radius:30px;
    margin-left:5px;
    padding-left:20px;
    padding-right:20px;
    margin-left:3px;
}

#status {
    border-radius:30px;
}
#object {
    border-radius:30px;
}